/* General */
* {margin:0;padding:0}
html{ background:#022135 url(../../images/portal/bg-body.jpg) no-repeat top center;background-attachment:fixed}
body{font-family:Arial, Helvetica, sans-serif;padding:0;font-size:12px;margin:0 auto;color:#5e5e5e;background:url(../../images/portal/bg-page.png) no-repeat right top;}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(font/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  src: local('Jockey One'), local('JockeyOne-Regular'), url(font/8Hj8G_JpSADPYrRpzMno2hsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
.clear{clear:both;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
.right{ float:right;}
.left{ float:left;}
p{padding:0;margin:0 0 10px 0;font-size:13px;text-align:left;line-height:1.5em;}

a{color:#006bd1; text-decoration:none;}
a img{border:none;}
a:hover{ text-decoration:none;}
a.read_more{margin:5px 0 0 0;}
a.more_bgcolor{background: #afb821;background: -moz-linear-gradient(top, #afb821 0%, #929a17 100%);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#afb821), to(#929a17));
border: 1px solid #929a17;border-bottom: 3px solid #666b10;padding:9px 24px 9px 24px; color:#FFFFFF;-moz-box-shadow: inset 0 1px 0 0 #dee753;-webkit-box-shadow: inset 0 1px 0 0 #dee753;box-shadow: inset 0 1px 0 0 #dee753;text-shadow: 0 -1px 0 #929a17;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
a.more_rounded{border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;}
a.centered{ display:block; text-align:center; margin-left:auto; margin-right:auto; font-size:18px;font-weight:bold}
a.inlink{color:#fff;background: #afb821;background: -moz-linear-gradient(top, #afb821 0%, #929a17 100%);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#afb821), to(#929a17));border: 1px solid #929a17;border-bottom: 3px solid #666b10;-moz-box-shadow: inset 0 1px 0 0 #dee753;-webkit-box-shadow: inset 0 1px 0 0 #dee753;box-shadow: inset 0 1px 0 0 #dee753;text-shadow: 0 -1px 0 #929a17;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;font-family:arial;font-size:12px;font-weight: bold;padding:2px 10px;text-align: center;cursor:pointer; margin:0 0 5px; display:inline-block;}

h1,h2,h3,h4,h5,h6{ padding:0px 0 10px 0; margin:0px; font-weight:normal;line-height:normal}
h1{ font-size:26px;}
h2{ font-size:22px;}
h3{ font-size:18px;}
h4{ font-size:16px;}

h1, h2, h3, h4{font-family: 'Lato', sans-serif;}
.typo {font-family:'Jockey One',sans-serif}
hr {display:inline-block;height:0;width:100%;border-top:solid 1px #6699CC;border-bottom:solid 1px #C7E6EF;border-left:none;border-right:none;margin:5px 0}
hr.style1 {margin:10px 0;border-top-color:#ddd;border-bottom-color:#fff}

/* Top */
#wrap{margin:auto;width:940px;padding:20px 15px;background:#B6DDE8;background:rgba(182,221,232,.8);box-shadow:0 0 10px rgba(0,0,0,.5);-moz-box-shadow:0 0 10px rgba(0,0,0,.5);-webkit-box-shadow:0 0 10px rgba(0,0,0,.5);border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;border:solid 1px rgba(255,255,255,.5);border-bottom:none}
#header{width:100%; height:140px;}
.header_content{ width:960px; margin:auto; line-height:140px;}
#page_wrap{margin:auto;width:1000px;padding:0 0 40px 0; background-color:#FFFFFF;}
.center_content{clear:both;padding:15px;background:#fff;background:rgba(255,255,255,.1);border:solid 1px rgba(255,255,255,.2);border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px}
#lt {width:240px;float:left;margin:0 20px 0 0}
#rt {width:680px;float:left;}
.section_full {clear:both}
.section {width:47%;float:left;margin:0 20px 0 0}
.section.last {margin:0}
.logo{float:left;margin:10px 0 0 20px;}
.logo a {display:block;width:125px;height:125px;background:url(../../images/portal/logo.png) no-repeat;color:transparent!important}
.title {float:left;margin:30px 0 0 20px}
.title h1 {color:#ffcc00;text-shadow:0 1px 1px #000;font-family: 'Jockey One', sans-serif; font-size:30px;font-weight:bold;padding:0;}
.title h2 {font-size:16px;font-family: 'Jockey One', sans-serif;color:#fff;text-shadow:0 1px 1px #333;text-transform:uppercase;padding:0}

/* Menu */
.menu{float:right; padding:0 20px 0 0;}
.menu ul {list-style:none; margin:0; padding:0px;}
.menu ul * {margin:0; padding:0;}
.menu ul li {float:left; padding:0 10px 0 10px; height:35px;}
.menu ul li a{font-family: 'Lato', sans-serif;color:#fff;text-shadow:0 1px 1px #333;font-size:12px;font-weight:bold;text-transform:uppercase;padding:5px 10px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;background:#000;background:rgba(0,0,0,.7)}
.menu ul li.selected a, .menu ul li a:hover{background-color:#1F558A;}

/* Slider */
.slider{ width:650px;padding:15px;background:#fff;border-radius:4px;border:solid 1px #6699CC;}
.flex-container a:active, .flexslider a:active {outline: none;}
.slides, .flex-control-nav, .flex-direction-nav {margin: 0; padding: 0; list-style: none;} 
.flexslider {width: 100%; margin: 0; padding: 0 0 0 0;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}
.flexslider {position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
.flex-container {zoom: 1; position: relative;}
.flex-direction-nav li a {width:62px; height:62px; margin:0; display: block; position: absolute; top:10%/*45%*/; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li a.next {background:url(../../images/portal/next.png) no-repeat center; right:20px;}
.flex-direction-nav li a.prev {background:url(../../images/portal/prev.png) no-repeat center;left:20px;}
.flex-direction-nav li a.next:hover {background:url(../../images/portal/next_a.png) no-repeat center;}
.flex-direction-nav li a.prev:hover {background:url(../../images/portal/prev_a.png) no-repeat center;}
.flex-direction-nav li a.disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}
.flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}
.flex-caption{ position: absolute;left:0px; top:0; width:630px;padding:10px;text-align:left;background:rgba(0,0,0,.8);border-top:solid 2px #FFCC00;text-align:left;font-family: 'Lato', sans-serif;font-size:14px;color:#FFFFFF;text-shadow:0 1px 1px #000}
.flex-caption h2{ font-size:30px; color:#FFFFFF;} 
.flex-caption a {color:#FFCC00;font-weight:bold}
.big-shadow {width:600px;height:21px;background:url(../../images/portal/banner_shadow.png) no-repeat;margin:0 auto;clear:both}

.leftbox{padding:10px;margin:0 0 15px 0;box-shadow:0 0 5px rgba(0,0,0,.3);border-radius:0 0 4px 4px}
h3.lefthead{font-size:16px;font-weight:bold;color:#fff;text-shadow:1px 1px 1px #333;background:#E36C0A url(../../images/portal/arrow-head.png) no-repeat 10px 50%;padding:10px 15px 10px 35px;box-shadow: inset 10px 0 10px -5px rgba(0,0,0,.7);border-radius:4px 4px 0 0}
ul.borderedlist {list-style-type:none;}
ul.borderedlist li{border-bottom:1px dotted #b7becf;overflow:hidden}
ul.borderedlist li.last {border:none}
ul.borderedlist li a{display:block;padding:3px 0 3px 20px;color:#578099;text-shadow:1px 1px 1px #fff;background:url(../../images/portal/arrow-list.png) no-repeat 5px 50%;font-size:14px;line-height:1.4em}
ul.borderedlist li a:hover, ul.borderedlist li a:focus{background-color: #f9f9f9;color:#945414;}
.grd {background: #d8dbe3;
background: -moz-linear-gradient(left, #d8dbe3 0%, #f9f9f9 100%)!important;
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d8dbe3), color-stop(100%,#f9f9f9))!important;
background: -webkit-linear-gradient(left, #d8dbe3 0%,#f9f9f9 100%)!important;
background: -o-linear-gradient(left, #d8dbe3 0%,#f9f9f9 100%)!important;
background: -ms-linear-gradient(left, #d8dbe3 0%,#f9f9f9 100%)!important;
background: linear-gradient(to right, #d8dbe3 0%,#f9f9f9 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8dbe3', endColorstr='#f9f9f9',GradientType=1 )!important;}
.color {background:#f8e8d8;background:rgba(248,232,216,.5);padding:10px;border:solid 1px #fff;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;box-shadow:0 0 5px rgba(0,0,0,.3)}

.page_title{ clear:both; padding:0 0 10px 0;}
.page_title h1 {padding:0;font-family:'Jockey One',sans-serif;text-shadow:0 1px 1px #fff}
.article_wrapper {margin:0 0 20px 0}
.article_wrapper h2{color: #528989;text-shadow:0 1px 0 #BAE9E9; font-size:2em;margin:0;}
.article_wrapper h2 a {color: #5699A7}
.article_wrapper h2 a:hover {color:#006699}
.article_wrapper h6.meta {color:#cc6600;font-family:Geneva, Arial, Helvetica, sans-serif;font-size:12px;line-height:normal;margin:0 0 15px}
.article_wrapper p{padding-bottom:10px;font-size:1.2em;text-shadow:0 1px 0 #BAE9E9;}
.article_wrapper img {float:left;padding:5px;background:#fff;border:solid 1px #ddd;border-radius:4px;margin:0 10px 0 0;width:150px;height:150px}
.article_wrapper img.detil {width:250px;height:250px}
/*tambahan chan*/
.article_wrapper ul {padding:5px 0 20px 0; margin:12px;}
.article_wrapper ol {padding:5px 0 20px 0; margin:12px;}
/*end tambahan chan*/
.features{ border-bottom:1px dashed #999; padding:0 0 10px 0; margin:10px 0 0px 0; clear:both; float:left;}
img.feat_thumb{float:left;}
.feat_details{width:200px;float:left;padding:0 0 0 10px;}
.feat_details h4 {font-size:15px;font-weight:bold;color:#cc6600;text-shadow:0 1px 1px #f9f9f9}
p.feat_text{color:#333;text-shadow:0 1px 0 #D2EDF5}
p.feat_text span.meta {display:block;font-size:11px;font-style:normal;font-weight:bold;color:#17365D}
.apl_box {background:#9BBB59;background:rgba(155,187,89,.8);border:solid 1px #5A8E25;overflow:auto;padding:15px;border-radius:4px;text-align:center;margin:5px 0 15px;box-shadow:0 0 10px rgba(102,153,51,.9) inset}
.apl_box h3 {margin:0;padding:0;text-align:left;font-size:18px!important;color:#17365D;text-shadow:0 1px 0 #fff}
.apl_box hr {border-top-color:#669933;border-bottom-color:#A5D773}
.apl_box p {color:#fff;text-shadow:0 1px 0 #666;}
form.front {margin:5px 0 0;padding:0}
form.front input[type=text], form.front input[type=password] {width:96%;background:#fff;box-shadow:0 0 5px rgba(0,0,0,.2) inset;border:solid 1px #999;border-radius:4px;padding:5px 2%;margin:5px 0;color:#ccc;font-size:12px}
form.front input[type=text]:focus, form.front input[type=password]:focus {border-color:#336600;color:#003366}
/* list content */
.list ul{padding:5px 0 20px 0; margin:0px; list-style-type:none;}
.list ul li{padding:5px 0; margin:0px;border-bottom:1px dotted #336699; line-height:19px;}
.list ul li a{color:#17365D;text-shadow:0 1px 0 #D2EDF5}
.list ul li a:hover{color:#336699;}
ul#iconlist {list-style-type: none;margin:5px 0;padding:0;}
ul#iconlist li {padding:5px 0 5px 20px;margin-left:10px;border-bottom:dotted 1px #999;background:transparent url(../../images/portal/li_a.gif) 0 7px no-repeat;overflow:hidden;font-size:13px;line-height:1.5em;font-weight:normal;color:#21568B;text-shadow:0 1px 0 #BAE9E9;}
ul#bulletlist {list-style-type: none;margin:5px 0 5px 30px;padding:0;}
ul#bulletlist li {list-style-type:disc;padding:3px 0 3px 0;font-size:13px;line-height:1.5em;font-weight:normal;color:#21568B;text-shadow:0 1px 0 #BAE9E9;}
/* faq list */
ul#faq {margin:10px 0;padding:0;list-style-type:none}
ul#faq li {margin:0;padding:15px;border-bottom:dotted 1px #fff;overflow:hidden;background:#fff;background:rgba(255,255,255,.5);box-shadow:0 10px 10px -10px rgba(0, 0, 0, 0.2) inset;-moz-box-shadow:0 10px 10px -10px rgba(0, 0, 0, 0.2) inset;-webkit-box-shadow:0 10px 10px -10px rgba(0, 0, 0, 0.2) inset;}
ul#faq li:hover {background:#F0F7F9}
ul#faq li:hover p {color:#993300}
ul#faq li h3 {margin:0;padding:0 0 10px 30px;border-bottom:dashed 1px #ccc;font-family:Arial, Helvetica, sans-serif;background:url(../../images/portal/faq-icon.png) no-repeat 0 0}
ul#faq li h3 a {color:#003366;text-shadow:0 1px 0 #fff;text-decoration:none;font-size:16px;font-weight:bold;line-height:1.4em}
ul#faq li h3 a:hover {color:#CC3300}
ul#faq li p {padding-left:50px;line-height:1.5em;font-size:12px;padding-top:10px;color:#666;text-shadow:0 1px 0 #fff;}
ul#faq li img {float:left;margin:10px 0 0;}
/* table */
table {background:#FFFFFF;background:rgba(255,255,255,.7);border-collapse:collapse;font-size:12px;text-align:left;max-width:100%;width:100%;border-spacing:0;margin:0;border:0 none;text-shadow:0 1px 0 #fff;border:dotted 1px #ddd}
table tbody tr:nth-child(2n) {background:#f9f9f9;background:rgba(249,249,249,.8);}
table thead {
background: #336699;
background: -moz-linear-gradient(top, #336699 0%, #003366 50%, #022C56 51%, #02172C 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#336699), color-stop(50%,#003366), color-stop(51%,#022C56), color-stop(100%,#02172C));
background: -webkit-linear-gradient(top, #336699 0%,#003366 50%,#022C56 51%,#02172C 100%);
background: -o-linear-gradient(top, #336699 0%,#003366 50%,#b5c6d0 51%,#02172C 100%);
background: -ms-linear-gradient(top, #336699 0%,#003366 50%,#022C56 51%,#02172C 100%);
background: linear-gradient(to bottom, #336699 0%,#003366 50%,#022C56 51%,#02172C 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#336699', endColorstr='#02172C',GradientType=0 );
border-top:solid 1px #b5c6d0}
table tfoot {background:#f3f3f3;border-top:solid 1px #a8dbeb}
table th {border-bottom:2px solid #6699CC;color:#fff;text-shadow:0 1px 0 #000;font-size:13px;font-weight:bold;text-transform:uppercase;padding:10px 8px;}
table td {border-bottom:1px dotted #999;color:#333;padding:6px 8px;font-size:12px;display:table-cell;}
table tbody tr:hover td {color:#000;background:#FAEEA9;}
/* contact form */
#contact-form {width:450px;margin:10px 0}
#contact-form fieldset {width:450px;padding:15px;border:solid 1px rgba(255,255,255,.3);background:#fff;background:rgba(255,255,255,.3);border-radius:4px;}
#contact-form label {display:block;height:31px;margin-bottom:10px}
#contact-form input {float:right;width:300px;font-size:13px;line-height:1.23em;color:#666;padding:5px 10px;margin:0;font-family:Arial, Helvetica, sans-serif;border:1px solid #999;background:#CEECF6;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;box-shadow:0 0 3px rgba(0,0,0,.3) inset;-moz-box-shadow:0 0 3px rgba(0,0,0,.3) inset;-webkit-box-shadow:0 0 3px rgba(0,0,0,.3) inset}
#contact-form textarea {float:right;height:100px;overflow:auto;width:300px;font-size:13px;line-height:1.23em;color:#666;padding:5px 10px;margin:0;font-family:Arial, Helvetica, sans-serif;border:1px solid #999;background:#CEECF6;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;box-shadow:0 0 3px rgba(0,0,0,.3) inset;-moz-box-shadow:0 0 3px rgba(0,0,0,.3) inset;-webkit-box-shadow:0 0 3px rgba(0,0,0,.3) inset}
#contact-form input:focus, #contact-form textarea:focus {background:#FFFFCC;color:#000;border-color:#FF0000}
.text-form {float:left;display:block;font-size:13px;font-weight:bold;line-height:26px;width:120px;color:#000;}
.buttons {padding:30px 0 0 0;clear:both;text-align:center}
.buttons a {background:#2D2D2D;color:#ccc;font-weight:bold;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;padding:5px 15px}
.buttons a:hover {background:#EB3D00;color:#fff}
/* footer */
#footer{width:100%;clear:both;margin:0 0 0 0;background:url(../../images/portal/footer-bg.png) repeat left top;border-top:solid 3px #FFCC00}
.footer_content{width:1000px;margin:auto;color:#999;}
.footer_content a{color:#999; text-decoration:none;}
.footer_content a:hover {color:#666}
.footer_bottom{clear:both;padding:15px 0;float:left;width:1000px;}
.footer_bottom_left{float:left;}
.copyrights{float:left; padding:0 0 0 5px;text-shadow:0 1px 0 #fff}
.copyrights a {font-weight:bold}
.footer_right_links{width:300px; float:right; padding:0; text-align:right;}
.footer_right_links ul{ list-style:none; padding:0px; margin:0px; }
.footer_right_links ul li{padding:0px; margin:0px;display:inline;}
.footer_right_links ul li a{padding:0px; margin:0px; padding:0 12px 0 12px;color:#999;text-shadow:0 1px 0 #fff;text-decoration:none;}
